
.c1{
    background-color: burlywood;
    height: 400px;
    width: 800px; 
    border:2px solid black;
    margin: 80px;
    box-sizing:border-box; 
    align-items: center;
}

.form{
    margin: 20px;
    
   
}